body {
  font: 15px Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #ced4da;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 750px;
}
.data {
  height: 100px;
  max-width: 355px;
}
.label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #00509d;
  width: 160px;
}
.status {
  font-size: 14px;
  font-weight: 500;
  padding: 1px 6px;
  margin: 0px 10px;
  border-radius: 5px;
  color: white;
}
.message {
  margin: 10px 5px;
  font-size: 18px;
}
.path {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
  margin: 0px 10px;
}
.card {
  border: 1px solid #ced4da;
  margin: 30px 0px;
  padding: 10px 10px 0px 10px;
  border-radius: 2px;
}
.button {
  border-radius: 2px;
  border-width: 0px;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.primary {
  background: #7209b7;
  color: #ffffff;
}
.secondary {
  background: #adb5bd;
  color: #000000;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.role {
  font-size: 12px;
  font-weight: 700;
  padding: 2px 5px;
  margin: 0px 10px;
  border-radius: 2px;
  color: black;
  background-color: #ffd23f;
  border: 1px solid #ffd23f;
}

.access-closed {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  color: #d90429;
  width: 500px !important;
}
